<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sdiri Mohamed Ikbel Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	
	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(assets/images/ikbel.png);"></div>
				<h1 id="colorlib-logo"><a href="index.html">Sdiri Mohamed Ikbel</a></h1>
				<span class="position"><a href="#">Software Engineer</a> in Tunisia</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="skills">Skills</a></li>
						<li><a href="#" data-nav-section="education">Education</a></li>
						<li><a href="#" data-nav-section="experience">Experience</a></li>
						<li><a href="#" data-nav-section="work">Work</a></li>
						<li><a href="#" data-nav-section="blog">Freelance</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			

		</aside>

		<div id="colorlib-main">
			


			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About Me</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										<p><strong>Hi I'm Sdiri Mohamed Ikbel </strong> ,You may think I'm another geek coder but TRUST ME, I have a busy social life aside filled with passion for  documentary movies, football and food:p
</p>
<p> I have sharpened my proactivity and skills thanks to my various academic projects. Besides, I've developed a spirit of autonomy and an ease of working in a team during my different internships. </p>
<p>
My engagement in the social life through clubs and organizations has strengthened my sense of contact and my critical spirit which I consider my strong assets for any daily collaboration .
Obviously, I am also  a graphic designer ,i desing : posters , logos , manipulate pictures and create interactive videos during my spare time.
This is me; your future intern who will bring you both : solutions and good jokes :D


	</p>								
									
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>Innovative </h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>Web Dev</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Software</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-photo"></i></span>
										<h3>Desing</h3>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>


			
			
		

			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Specialty</span>
							<h2 class="colorlib-heading animate-box">My Skills</h2>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Java</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>JavaEE</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Spring  </h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Angular</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="85"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>JavaScript/TypeScript</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>PHP</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>.NET</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>DataBases</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
						
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>REST/SOAP</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>SYMFONY 3</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>C/C++</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>C#</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						
					
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>GIT</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
								<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>kUBERNATES</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
								    <span>60%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Scrum</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						
											<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Phtoshop/AI</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
											<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Wordpress</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
												<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Firebase</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Education</span>
							<h2 class="colorlib-heading animate-box">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ESPRIT - Software Engineering Diploma
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<div class="col-md-6">
										      		<p>	<Strong>From 2016 to 2021</Strong>, I learned to code with several technologies:JavaFX,QT,Symfony, Java 8, C ++,Angular,Mobile ...

 </p>
										   <p>In my 4th year class I chose software engineering speciality and I learnt to code REST/SOAP Apis ,JAVAEE , Spring and .NET applications and also  some DevOPS conecpts .
</p>

													</div>
										      		<div class="col-md-6">
										      			<img  src="./assets/images/esprit.png" width="300" height="140">
										      		</div>
										      	</div>
									         </div>
									    </div>
									</div>
								
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">FSM - Diploma in Information Technology
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">

							        </div>
									    </div>
									</div>

								

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">TATAOUINE-High School Secondary Education
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
												<p> <strong>High School Secondary Education</strong></p>  <br>
												
												<p> <strong>2013</strong> Baccalaureate : Mathematics</p>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Experience</span>
							<h2 class="colorlib-heading animate-box">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Full Stack (Java/Angular) Developer </strong> - </a> <p> Genius Data</p>  <span>october 2021-now</span></h2>
					                  <p>Participation with a team of 3 persons in the development of an application to help correct payroll errors as well as to process TG returns from DGFIP.</p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> -Analysis of technical requests.</span> <br> 
                    <span>- Development of the security part (management of access rights). </span> </td>
    <td>	<span> -Corrective and evolutionary maintenance. </span>  <br>
                 
				 <span>- Development of REST web services.   </span></td>
  </tr>
  <tr>

  <td>	<span> -Development of graphical interfaces </span>  <br>
                 
</tr>
  </table>
  <br>

  <p> To be able to develop all these features i used several technologies such as : </p>

  <strong>Java, Spring Boot, Spring Security, Spring Batch,Postegrsql,EC2, Angular 12, GitHub, Maven, Postman , Heroku , Firebase ,WebSockets ,Trello . </strong>
    <br>
	<br>
    <br>


                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/egest.jpg" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>







							<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Full Stack (Angular/Firebase) Developer </strong> - </a> <p> Genius Data</p>  <span>january-october 2021</span></h2>
					                  <p>I added to an existing solution used internally for human resource management, a CV database digitalization module. The main development goal is to facilitate the task of processing CVs by the HR officers. This Module will offer several functionalities to our HR agent and our employee such as : </p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> -Extracting data from each CV and storing extracted data in the database </span> <br> 
                    <span>- Generating a portfolio for each employee . </span> </td>
    <td>	<span> -Generating a customizable PDF CV </span>  <br>
                 
				 <span> - Generating a Dashboard which will centralize all the data of each CV .   </span></td>
  </tr>
  <tr>

  <td>	<span> -The possibility of discussing with another employee through a chat module. </span>  <br>
                 
</tr>
  </table>
  <br>

  <p> To be able to develop all these features i used several technologies such as : </p>

  <strong>Angular 9 , Firebase , HireAbility API , Cometchat UI , Kendo UI , Sonar ,Balsamiq , Github . </strong>
    <br>
	<br>
    <br>


                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/featway.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>


					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Full Stack (Angular/Spring boot) Developer </strong> - </a> <p> Wifak Bank </p>  <span> july-august 2020</span></h2>
					                  <p>I developed a web application that allows to import a file containing transaction traces using an ftp client and and parsing this file in the backend part <Strong>(spring mvc / Spring Security / Rest API / Swagger2 for API documentation /MongoDB Atlas to stock DATA  on cloud and release some unit tests with Junit)</Strong>, then at the front end part developed in Angular , i consumed the apis to display the data of the imported file and filtered it using (primeng table).
The goal was to facilitate and optimize the monitoring and audit task for members of the monetic and digital department in which i worked . At the end ,i deployed the entire project on heroku.</p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> See Backend Deployed Project <a href="https://wifak-server.herokuapp.com/swagger-ui/index.html">HERE </a> </span> <br> 
                    <span> See Backend Project Code   <a href="https://github.com/mohamedikbel/WifakServeur" >HERE </a> </span> </td>
    <td>	<span> See Frontend Deployed Project <a href="https://wifak-app.herokuapp.com/">HERE </a> </span>  <br>
                 
				 <span> See Frontend  Project Code   <a href="https://github.com/mohamedikbel/WifakClient" >HERE </a> </span></td>
  </tr>
  </table>
    <br>

                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/wifak.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>


					       

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Maintenance and Observation of Telephone Stations </strong> - </a> <p> Tunise Telecom </p>  <span> july-august 2017</span></h2>
					                  <p>Work at the Line Construction Center
- visits to telephone network stations
- Observation: maintenance of generators
and simulate a telephone network architecture with <strong>Packet Tracer</strong>
</p>


					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Projects</span>
							<h2 class="colorlib-heading animate-box">Recent Projects</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
						
						
					</div>
										<div class="row">	
						<div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
                <div >
                  <div >
                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="280" width="400" src="./assets/images/devops.gif" class="img-responsive" alt="">
                
              
                </div>

								<div style="margin: 13px" class="desc">
									<span><small>June 17, 2020 </small> | <small> Devops Consulting </small> </span>
									<h3>Devops Consulting</h3>
                  <p>In this academic project , our main goal was the establishment of basic network functionality to interconnect virtual sites
(Pfsense: Routing and Security),to build a devops pipe line in which each site takes care of a phase of this pipeline </p>
                  <p>I used several solutions like: <strong> Bacula </strong> to manipulate Backups, <strong> Freenas  </strong>to  manipulate Storage  , <strong>Apache MAVEN </strong> for the build phase ,  and  <strong>Apache Tomcat </strong> to do a remote deployment. Using a <strong> Linux Distribution (CENTOS)  </strong> ,installed webmin wich made the bacula configuration and administration easier for me .

                      <strong>Administration Dashboard </strong> : I developed with html, php and lunix shell commands a cool dashboard which allows to integrate the proposed functionalities and also to facilitate the use of these functionalities to the users
</p>
				<br>

				<span> <strong> Dashboard Code </strong>  <a href="https://github.com/mohamedikbel/DevopsDashboard" >HERE </a> </span>

								</div>
							</div>
						</div>
          </div>
		  
		  						<div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
                <div>
                  <div>
                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="280" width="400" src="./assets/images/pi.gif" class="img-responsive" alt="">
                
              
                </div>

								<div style="margin: 13px" class="desc">
									<span><small>December 10, 2019 </small> | <small> Human resources management application for "Advyteam"
 </small> </span>
									<h3>Human resources management application for "Advyteam"</h3>
                  <p>Design and development of an N-tier JEE application: Design of a JEE
application for a human resource management site, with JSF, web
 and an ASP.NET client as a part of project at ESPRIT and
advyteam company. </p>
                  <p>I used several solutions like: <strong> Eclipse </strong> as an IDE for java, <strong> Visual Studio 2015  </strong>an IDE for ASP.NET  , <strong>Apache MAVEN </strong> for the build phase ,  and  <strong>JBOSS Wildfly 11 </strong> as an application server. Using a <strong> JAX-RS  </strong> , as Java API for RESTful Web Services , <strong>OPENCV OCR </strong> to do an intelligent prase Alghorithm for a picture document , the <strong>Java Mail API </strong> , <strong>MYSQL </strong> as a database and <strong>GIT </strong> for continuous integration .

</p>
				<br>

				<span> <strong> SEE JAVAEE Backend Code </strong>  <a href="https://github.com/mohamedikbel/PidevAdvyteam-JEE" >HERE </a> </span>
				<span> <strong> SEE ASP.NET Frontend Code </strong>  <a href="https://github.com/mohamedikbel/Pidev-Advyteam.NET" >HERE </a> </span>


								</div>
							</div>
						</div>
          </div>
		  
		  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ik1.png" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ik2.png" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ik3.png" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>May 10, 2019 </small> | <small> "City of culture" integration and development project 

 </small> </span>
									<h3>"City of culture" integration and development project 
 </h3>
                  <p>Design and development of a multiplatform (Desktop/web/mobile)
application with java 8 & javaFX, symphony3 and CodeNameOne for organizing
technological events as part of an integration project at ESPRIT </p>
                  <p>I used several solutions like: <strong> NetBeans </strong> as an IDE for javaFX and CodeNameOne, <strong> PhpStorm
  </strong>an IDE for Symfony , <strong> MYSQL </strong>  as a DATABASE    <strong>  the reverse engineering</strong>  to generate entities with doctrin on symfony ,  <strong> REST API in Symfony </strong>  and  <strong> TRELLO  </strong> as project management tool.


</p>
				<br>

				<span> <strong> SEE JAVA & JAVAFX Code </strong>  <a href="https://github.com/mohamedikbel/Projet3A" >HERE </a> </span>


								</div>
							</div>
						</div>
						
						  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ike1.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ike2.jpg" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ike3.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>May 15, 2018 </small> | <small> "Access Bijoux" integration and development project 

 </small> </span>
									<h3>"Access Bijoux" integration and development project
 </h3>
                  <p>Design and implementation of a solution to help the management of a traditional accessories store (web application) using: HTML, CSS, JAVASCRIPT, SQL, PHP
 </p>
				<br>

				<span> <strong> SEE JAVAEE Backend Code </strong>  <a href="https://sourceforge.net/projects/esprit-2a7-else-web/files/" >HERE </a> </span>


								</div>
							</div>
						</div>
						
										  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ika.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ika2.jpg" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ika3.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>December 15, 2018 </small> | <small> "MICHELIN CRM" integration and development project 

 </small> </span>
									<h3>"MICHELIN CRM" integration and development project
 </h3>
                  <p>Design and realization of a solution to help the management of a car sales company (desktop application) using: C ++, QT, Oracle

 </p>
				<br>

				<span> <strong> SEE Project Code </strong>  <a href="https://sourceforge.net/projects/esprit-2017-2a-fox/files/" >HERE </a> </span>


								</div>
							</div>
							
							
							  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/im1.gif" height="100" width="400" class="img-responsive" alt="">
     </td>
											
    




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>may 4, 2017 </small> | <small> "Prodgy Game" integration and development project 

 </small> </span>
									<h3>"Prodgy Game" integration and development project
 </h3>
                  <p>Design and implementation of a 2D game using C  , SDL , LUNIX  and SVN.


 </p>
				<br>

				<span> <strong> SEE Project Code </strong>  <a href="https://sourceforge.net/projects/esprit20171a11prodigy/files/" >HERE </a> </span>


								</div>
							</div>
						</div>
							
							
							
							
							
						</div>
         
          </div>




					<div class="row">
						
					</div>
				</div>
			</section>

			<section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Freelance</span>
							<h2 class="colorlib-heading">Some of My freelance projects</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="assets/images/wordpress.png" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span> <small> July 14, 2020 |  Web Design   | </small> </span>
									<h3><a href="blog.html">Build  Wordpress websites</a></h3>
									<p>I build and design responsive wordpess websites for clients
exp:  <strong>kiyarenov.fr</strong>.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInRight">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="assets/images/logoint.png" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Graphic Design </small> | <small> </small></span>
									<h3><a href="blog.html">Logos and Posters Desing </a></h3>
									<p>
I desing  posters, logos and brochures also  i  manipulate picture in my . exp : i designed the logo of <strong> the tataouine international cup </strong> you can check my behance profile <a href="https://www.behance.net/sdmedik">Here</a> </p>
								</div>
							</div>
						</div>
					
					</div>
				
				</div>
			</section>

						<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="mailto:mohamedikbel.sdiri@esprit.tn">mohamedikbel.sdiri@esprit.tn</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p> Mahrajen City Tataouine - Tunisia</p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+216 </a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">

                  <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                      <div class="colorlib-icon">
                        <i class="fa fa-facebook"></i>
                      </div>
                      <div class="colorlib-text">
                        <p><a href="https://fb.me/sdiri.medikbel">Facebook</a></p>
                      </div>
                    </div>

                    <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                        <div class="colorlib-icon">
                          <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="colorlib-text">
                          <p><a href="https://www.linkedin.com/in/ikbel-sdiri/">Linkedin</a></p>
                        </div>
                      </div>
                    
                      <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                          <div class="colorlib-icon">
                            <i class="fa fa-github"></i>
                          </div>
                          <div class="colorlib-text">
                            <p><a href="https://github.com/mohamedikbel">Github</a></p>
                          </div>
                        </div>
								
							</div>
						</div>
					</div>
				</div>
			</section>



		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	
	</body>
</html>

