
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sdiri Mohamed Ikbel Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	
	</head>
	<body>
	<div id="colorlib-page">
    
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		
    <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
      
		
      <div class="text-center">
        <p><a  routerLink="/en"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/1200px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png" style="width:35px;height:20px;border-radius: 10px;"></a></p>

				<div class="author-img" style="background-image: url(assets/images/ikbel.png);"></div>
				<h1 id="colorlib-logo"><a href="index.html">Sdiri Mohamed Ikbel</a></h1>
				<span class="position"><a href="#">INGÉNIEUR LOGICIEL</a> EN France</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li><a href="#" data-nav-section="about">À PROPOS DE MOI</a></li>
						<li><a href="#" data-nav-section="skills">MES COMPÉTENCES</a></li>
						<li><a href="#" data-nav-section="education">ÉDUCATION</a></li>
						<li><a href="#" data-nav-section="experience">EXPÉRIENCE PROFESSIONNELLE</a></li>
						<li><a href="#" data-nav-section="work">MES PROJETS</a></li>
						<li><a href="#" data-nav-section="my-world">MON ŒUVRE D'ART            </a></li>
						<li><a href="#" data-nav-section="blog">Freelance</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>

				<div class="colorlib-footer">
					<p><small>© <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		Copyright <script>document.write(new Date().getFullYear());</script>2023 All rights reserved. Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/ikbel-sdiri" target="_blank">Sdiri Ikbel</a>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->  </small></p>
				
				</div>
			</nav>

			

		</aside>

	
		<div id="colorlib-main">
	
	


			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
							<span class="heading-meta">QUE FAIS-JE ?</span>
							<h2 class="colorlib-heading">Voici certaines de mes domaines d'expertise .



              </h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center animate-box fadeInUp animated">
							<div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
								<div class="desc">
									<h3>ingénieur developpement logiciel</h3>
									<p>"Simple things should be simple, complex things should be possible.""
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box fadeInUp animated">
							<div class="services color-2">
								<span class="icon">
									<i class="icon-flag"></i>
								</span>
								<div class="desc">
									<h3>COMMUNITY MANAGER ET DESIGNER</h3>
									<p>"Have no fear of perfection you’ll never reach it."</p>
								</div>
							</div>
						</div>
				
				
						<div class="col-md-4 text-center animate-box fadeInUp animated">
							<div class="services color-6">
								<span class="icon">
									<i class=" icon-briefcase"></i>
								</span>
								<div class="desc">
									<h3>Responsable TMS FIFA</h3>
									<p>"Set your goals high, and don’t stop til you get there"</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">À propos de moi</span>
										<h2 class="colorlib-heading">Qui suis je?           </h2>
										<p><strong>Bonjour, je suis Sdiri Mohamed Ikbel</strong> , Vous pourriez penser que je suis un autre codeur passionné d'informatique, mais croyez-moi, j'ai une
                      vie sociale active remplie de passion pour les films documentaires, le football et la cuisine :p
</p>
<p> J'ai affûté ma proactivité et mes compétences grâce à mes différents projets académiques et professionnels. 
  En outre, j'ai développé un esprit d'autonomie et une facilité à travailler en équipe au cours de mes différents stages et expériences. </p>
<p>
  Mon engagement dans la vie sociale à travers les clubs et les organisations a renforcé mon sens du contact et mon esprit critique, 
  que je considère comme mes atouts pour toute collaboration quotidienne.
   Et comme j'aime le football, je suis responsable du système TMS pour le transfert de joueurs internationaux utilisé par la FIFA pour l'US Tataouine, et également directeur de match pour le programme de diffusion en direct VMIX.
  
  Évidemment, je suis également graphiste et community manager. Pendant mon temps libre, je crée des affiches, des logos, manipule des images et crée des vidéos interactives.
  
  Voilà qui je suis: votre futur ingénieur qui vous apportera à la fois des solutions et de bonnes blagues :D


	</p>								
									
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>Innovant
                    </h3>
									</div>
								</div>

								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Software</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>Media</h3>
									</div>
								</div>
							
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-photo"></i></span>
										<h3>Desing</h3>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>


			
			
		

			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">MA SPÉCIALITÉ
              </span>
							<h2 class="colorlib-heading animate-box">MES COMPÉTENCES</h2>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Java</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>JavaEE</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Spring  </h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Angular</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="85"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>JavaScript/TypeScript</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>PHP</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>AWS</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>65%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>DataBases</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
						
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>REST/SOAP</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Agile</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Firebase</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
					
						
					
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>GIT</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
						
							<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Scrum</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						
											<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Phtoshop/AI</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Motion Graphic</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
											<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Wordpress</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						
			
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">ÉDUCATION
              </span>
							<h2 class="colorlib-heading animate-box">ÉDUCATION
              </h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ESPRIT - Software Engineering Diploma
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<div class="col-md-6">
										      		<p>	<Strong>De 2016 à 2021
                              </Strong>, J'ai appris à coder avec plusieurs technologies : JavaFX,QT,Symfony, Java 8, C ++,Angular,Mobile ...

 </p>
										   <p>Dans ma classe de 4ème j'ai choisi la spécialité génie logiciel et j'ai appris à coder REST/SOAP Apis ,JAVAEE , Spring and .NET applications et aussi quelques concepts DevOPS .
</p>

													</div>
										      		<div class="col-md-6">
										      			<img  src="./assets/images/esprit.png" width="300" height="140">
										      		</div>
										      	</div>
									         </div>
									    </div>
									</div>
								
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">FSM - Diplôme en science de l'informatique 
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">

							        </div>
									    </div>
									</div>

								

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">TATAOUINE-High School Secondary Education
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
												<p> <strong>Lycée : </strong></p>  <br>
												
												<p> <strong>2013</strong> Baccalauréat : Mathématiques</p>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Expérience
              </span>
							<h2 class="colorlib-heading animate-box">L'expérience professionnelle</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">

							
							<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Développeur Full Stack  (Angular/Spring) </strong> - </a> <p> Featway</p>  <span></span></h2>
					                  <p> Participation avec une équipe de 4 personnes (Scrum Master - Product Owner - 2 Développeurs) au développement d'une application permettant l'extraction et le traitement des relevés bancaires selon la banque. </p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> - Analyse des demandes techniques.</span> <br> 
                    <span> - Implémentation d'un algorithme d'analyse de tableaux PDF à l'aide de la librairie Java PDFBox.</span> </td>
    <td>	<span>  - Développement de webservices REST.</span>  <br>
                 
				 <span> - Réalisation de tests unitaires avec JUnit.   </span></td>
  </tr>
  <tr>

  <td>	<span> - Documentation et présentation des API via Swagger2.</span>  <br>
                 
</tr>
<tr>

	<td>	<span> - Développement d'interfaces graphiques. </span>  <br>
				   
  </tr>

  <tr>

	<td>	<span> - Rédaction de la documentation technique et fonctionnelle de l'application. </span>  <br>
				   
  </tr>
  </table>
  <br>

  <p>Pour pouvoir développer toutes ces fonctionnalités j'ai utilisé plusieurs technologies telles que : </p>

  <strong>Java, Spring Boot, Spring Security, Spring Batch,Postegrsql,Firestorge , Angular 12, GitHub, Maven, Postman , Heroku , Firebase ,WebSockets ,Trello . </strong>
    <br>
	<br>
    <br>


                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/rb-gest.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>
							<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Développeur Full Stack  (Angular/Java) </strong> - </a> <p> Featway</p>  <span></span></h2>
					                  <p>Participation avec une équipe de 3 personnes au développement d'une application d'aide à la correction des erreurs de paie ainsi qu'au traitement des déclarations TG de la DGFIP.</p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> - Analyse des demandes techniques.</span> <br> 
                    <span>- Développement de webservices REST. </span> </td>
    <td>	<span> - Développement de la partie sécurité (gestion des droits d'accès). </span>  <br>
                 
				 <span> -Maintenance corrective et évolutive.  </span></td>
  </tr>
  <tr>

  <td>	<span> -Développement d'interfaces graphiques </span>  <br>
                 
</tr>
  </table>
  <br>

  <p> Pour pouvoir développer toutes ces fonctionnalités j'ai utilisé plusieurs technologies telles que :</p>

  <strong>Java, Spring Boot, Spring Security, Spring Batch,Postegrsql,EC2, Angular 12, GitHub, Maven, Postman , Heroku , Firebase ,WebSockets ,Trello . </strong>
    <br>
	<br>
    <br>


                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/egest.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>







							<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Full Stack (Angular/Firebase) Developer </strong> - </a> <p> Featway</p>  <span></span></h2>
					                  <p>J'ai ajouté à une solution existante utilisée en interne pour la gestion des ressources humaines, un module de dématérialisation de CVthèque. L'objectif principal du développement est de faciliter la tâche de traitement des CV par les responsables RH. Ce Module offrira plusieurs fonctionnalités à  l'RH et à l'employé telles que :</p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> -Extraire les données de chaque CV et stocker les données extraites dans la base de données</span> <br> 
                    <span>- Génération d'un portfolio pour chaque employé.  </span> </td>
    <td>	<span> -Génération d'un CV PDF personnalisable </span>  <br>
                 
				 <span> - Générer un Dashboard qui centralisera toutes les données de chaque CV.   </span></td>
  </tr>
  <tr>

  <td>	<span> -La possibilité de discuter avec un autre employé via un module de chat. </span>  <br>
                 
</tr>
  </table>
  <br>

  <p> Pour pouvoir développer toutes ces fonctionnalités j'ai utilisé plusieurs technologies telles que : </p>

  <strong>Angular 9 , Firebase , HireAbility API , Cometchat UI , Kendo UI , Sonar ,Balsamiq , Github . </strong>
    <br>
	<br>
    <br>


                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/featway.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>


					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Développeur Devops</strong> - </a> <p> Esprit </p>  <span> </span></h2>
									  <p>Dans ce projet académique, notre objectif principal était la mise en place de fonctionnalités réseau de base pour interconnecter des sites virtuels (Pfsense : Routage et Sécurité), pour construire un pipeline devops dans lequel chaque site s'occupe d'une phase de ce pipeline </p>
									  <p>J'ai utilisé plusieurs solutions comme  <strong> Bacula </strong> pour manipuler les sauvegardes,  <strong> Freenas  </strong> pour manipuler le stockage , <strong>Apache MAVEN </strong>  pour la phase de build ,  et <strong>Apache Tomcat </strong> pour faire un déploiement à distance.  À l'aide  <strong> d'une distribution Linux (CENTOS), </strong> ,j'ai installé Webmin, ce qui m'a facilité la configuration et l'administration de la bacula.  .
					
										  <strong> Dashboard </strong> :  j'ai développé avec des commandes shell html, php et lunix un tableau de bord sympa qui permet d'intégrer les fonctionnalités proposées et aussi de faciliter l'utilisation de ces fonctionnalités aux utilisateurs
					</p>
				
				
				<table style="width:100%">
  <tr>
    <td>				<span> <strong> Dashboard Code </strong>  <a href="https://github.com/mohamedikbel/DevopsDashboard" >HERE </a> </span>
		<br> 
                  </td>
    <td>	 <br>
                 
				</td>
  </tr>
  </table>
    <br>

                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/devops.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>




					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Full Stack (Angular/Spring boot) Developer </strong> - </a> <p> Wifak Bank </p>  <span> Juin-Août 2019</span></h2>
					                  <p>
                              J'ai développé une application web qui permet d'importer un fichier contenant des traces de transaction à l'aide d'un client ftp et de parser ce fichier dans la partie backend<Strong>(spring mvc / Spring Security / Rest API / Swagger2 for API documentation /MongoDB Atlas  pour stocker des DATA sur le cloud et sortir quelques tests unitaires avec Junit), </Strong> puis sur la partie front end développée en Angular , j'ai consommé l'apis pour afficher les données du fichier importé et l'ai filtré à l'aide (primeng table). L'objectif était de faciliter et d'optimiser la tâche de suivi et d'audit pour les membres du département monétique et numérique dans lequel je travaillais. À la fin, j'ai déployé l'ensemble du projet sur heroku.
                            </p>
				
				
				<table style="width:100%">
  <tr>
    <td><span> Voir le projet déployé en backend  <a href="https://wifak-server.herokuapp.com/swagger-ui/index.html">ICI</a> </span> <br> 
                    <span> Voir le code du projet backend  <a href="https://github.com/mohamedikbel/WifakServeur" >ICI</a> </span> </td>
    <td>	<span> Voir le projet déployé frontend  <a href="https://wifak-app.herokuapp.com/">ICI </a> </span>  <br>
                 
				 <span> Voir le code du projet frontend <a href="https://github.com/mohamedikbel/WifakClient" >ICI </a> </span></td>
  </tr>
  </table>
    <br>

                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="220" width="340" src="./assets/images/wifak.gif" class="img-responsive" alt="">


			

								  </div>
					            </div>
					         </article>
					       

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					                  <h2><a href="#"><strong>Maintenance et Observation des Postes Téléphoniques 
                           </strong> - </a> <p> Tunise Telecom </p>  <span> juillet-août 2017
                          </span></h2>
					                  <p>Travail au centre de construction de lignes
                              - visites des postes du réseau téléphonique
                              - Observation : maintenance des groupes électrogènes
                              et simuler une architecture de réseau téléphonique avec <strong>Packet Tracer</strong>
</p>


					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Mes projets
              </span>
							<h2 class="colorlib-heading animate-box">Mes projets récents
              </h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
						
						
					</div>
										<div class="row">	
						<div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
                <div >
            

	
							</div>
						</div>
          </div>
		  
		  						<div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
                <div>
                  <div>
                                <img style="text-align: center ; margin: auto; border-radius: 10px" height="280" width="400" src="./assets/images/pi.gif" class="img-responsive" alt="">
                
              
                </div>

								<div style="margin: 13px" class="desc">
									<span><small> </small> | <small> APPLICATION DE GESTION DES RESSOURCES HUMAINES POUR « ADVYTEAM »
 </small> </span>
									<h3> APPLICATION DE GESTION DES RESSOURCES HUMAINES POUR « ADVYTEAM »></h3>
                  <p>Conception et développement d'une application JEE N-tiers : Conception d'une application JEE pour un site de gestion des ressources humaines, avec JSF, web et un client ASP.NET dans le cadre d'un projet chez ESPRIT et la société advyteam. </p>
                  <p>J'ai utilisé plusieurs solutions comme :  <strong> Eclipse </strong> comme IDE pour java, <strong> Visual Studio 2015  </strong>comme IDE pour ASP.NET  , <strong>Apache MAVEN </strong> pour le build ,  <strong>JBOSS Wildfly 11 </strong>comme serveur d'application..Utilisation de <strong> JAX-RS  </strong> , comme API Java pour les services Web RESTful, <strong>OPENCV OCR </strong>  pour faire un algorithme de prase intelligent pour un document image, <strong>Java Mail API </strong> , <strong>MYSQL </strong> as a database and <strong>GIT </strong> pour l'intégration continue. .

</p>
				<br>

				<span> <strong> Voir JAVAEE Backend Code </strong>  <a href="https://github.com/mohamedikbel/PidevAdvyteam-JEE" >ICI </a> </span>
				<span> <strong> Voir ASP.NET Frontend Code </strong>  <a href="https://github.com/mohamedikbel/Pidev-Advyteam.NET" >ICI </a> </span>


								</div>
							</div>
						</div>
          </div>
		  
		  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ik1.png" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ik2.png" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ik3.png" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small></small> | <small> "City of culture" PROJET D'INTEGRATION ET DE DEVELOPPEMENT 

 </small> </span>
									<h3>"City of culture" PROJET D'INTEGRATION ET DE DEVELOPPEMENT 
 </h3>
                  <p>Conception et développement d'une application multiplateforme (Desktop/web/mobile) avec java 8 & javaFX, symphony3 et CodeNameOne pour l'organisation d'événements technologiques dans le cadre d'un projet d'intégration chez ESPRIT </p>
                  <p>J'ai utilisé plusieurs solutions comme : <strong> NetBeans </strong>  IDE pour javaFX et  CodeNameOne, <strong> PhpStorm
  </strong> IDE pour Symfony , <strong> MYSQL </strong> BD   <strong>  le reverse engineering</strong>  pour générer des entités avec doctrin sur symfony, <strong> REST API de Symfony </strong>  and  <strong> TRELLO  </strong> comme outil de gestion de projet.


</p>
				<br>

				<span> <strong> Voir JAVA & JAVAFX Code </strong>  <a href="https://github.com/mohamedikbel/Projet3A" >ICI  </a> </span>


								</div>
							</div>
						</div>
						
						  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ike1.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ike2.jpg" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ike3.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small> </small> | <small> "Access Bijoux" PROJET D'INTEGRATION ET DE DEVELOPPEMENT 

 </small> </span>
									<h3>"Access Bijoux" PROJET D'INTEGRATION ET DE DEVELOPPEMENT 
 </h3>
                  <p>Conception et réalisation d'une solution d'aide à la gestion d'un magasin d'accessoires traditionnels (application web) utilisant : HTML, CSS, JAVASCRIPT, SQL, PHP
 </p>
				<br>

				<span> <strong> VOIR JAVAEE Backend Code </strong>  <a href="https://sourceforge.net/projects/esprit-2a7-else-web/files/" >ICI</a> </span>


								</div>
							</div>
						</div>
						
										  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/ika.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>
											
					                        <td>                           <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ika2.jpg" height="150" width="250" class="img-responsive" alt="">
      </td>
											
				                            <td>                            <img style="text-align: center ; margin: auto; border-radius: 10px" src="./assets/images/ika3.jpg" height="150" width="250" class="img-responsive" alt="">
     </td>




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>December 15, 2018 </small> | <small> "MICHELIN CRM" integration and development project 

 </small> </span>
									<h3>"MICHELIN CRM" integration and development project
 </h3>
                  <p>Design and realization of a solution to help the management of a car sales company (desktop application) using: C ++, QT, Oracle

 </p>
				<br>

				<span> <strong> SEE Project Code </strong>  <a href="https://sourceforge.net/projects/esprit-2017-2a-fox/files/" >HERE </a> </span>


								</div>
							</div>
							
							
							  <div   data-animate-effect="fadeInLeft">
							<div class="blog-entry">
                
				
								<table style="width:100%">
                                  
								            <td>                            <img style="text-align: center ; margin:  auto; border-radius: 10px" src="./assets/images/im1.gif" height="100" width="400" class="img-responsive" alt="">
     </td>
											
    




								  
								            </table>

								  
								  

								<div style="margin: 13px" class="desc">
									<span><small>Mai, 2017 </small> | <small> "Prodgy Game" PROJET D'INTEGRATION ET DE DEVELOPPEMENT

 </small> </span>
									<h3>"Prodgy Game" PROJET D'INTEGRATION ET DE DEVELOPPEMENT
 </h3>
                  <p>Conception et réalisation d'un jeu 2D en C , SDL , LUNIX et SVN


 </p>
				<br>

				<span> <strong> VOIR Code </strong>  <a href="https://sourceforge.net/projects/esprit20171a11prodigy/files/" >ICI </a> </span>


								</div>
							</div>
						</div>
							
							
							
							
							
						</div>
         
          </div>




					<div class="row">
						
					</div>
				</div>
			</section>
			<div class="col-md-12 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
				<div class="hire">
					<h3> “Success isn’t about how your life looks to others. It’s about how it feels to you.”

						</h3>
					<a href="#" class="btn-hire">— Michelle Obama</a>
				</div>
			</div>
			<section class="colorlib-work" data-section="my-world">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Mon œuvre d'art </span>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-6 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/a8e2ac99778421.5efa67ca7f772.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/a8e2ac99778421.5efa67ca7f772.jpg">Work 01</a></h3>
										<span>Website</span>
										<p class="icon">
											<span><a href="https://www.behance.net/gallery/99778421/Photo-Manipulation-Tataouine"><i class="icon-eye"></i> 100</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInRight animated" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/dbc94999775717.5efa59fdaed66.png);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://mir-s3-cdn-cf.behance.net/project_modules/fs/dbc94999775717.5efa59fdaed66.png">Work 02</a></h3>
										<span>Animation</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInTop">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/16cb7999777027.5efa607187443.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 03</a></h3>
										<span>Illustration</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInUp animated" data-animate-effect="fadeInBottom">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/05fba399778019.5efa658bea78a.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 04</a></h3>
										<span>Application</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/15549299776523.5efa5dea0c16e.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 05</a></h3>
										<span>Graphic, Logo</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box fadeInRight animated" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/3a0ba699777819.5efa64a403d9c.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 06</a></h3>
										<span>Web Design</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://youtube.googleapis.com/embed/?status=ok&hl=fr&allow_embed=0&ps=docs&partnerid=30&autoplay=0&abd=0&public=true&docid=1cE1a22yGhQpQyqBl1JMqcNRDzD8Wq4ih&el=leaf&title=ust%20intro.avi&BASE_URL=https%3A%2F%2Fdrive.google.com%2Fu%2F5%2F&iurl=https%3A%2F%2Fdrive.google.com%2Fu%2F5%2Fvt%3Fauthuser%3D5%26id%3D1cE1a22yGhQpQyqBl1JMqcNRDzD8Wq4ih%26s%3DAMedNnoAAAAAZFErHssamKW82axoGWcDzlQV2CdvDfwm&cc3_module=1&reportabuseurl=https%3A%2F%2Fdrive.google.com%2Fu%2F5%2Fabuse%3Fauthuser%3D5%26id%3D1cE1a22yGhQpQyqBl1JMqcNRDzD8Wq4ih&token=1&plid=V0QXW1ZgDjdF9Q&timestamp=1683033854783&length_seconds=18&BASE_YT_URL=https%3A%2F%2Fdrive.google.com%2Fu%2F5%2F&cc_load_policy=1&authuser=5&wmode=window&override_hl=1&enablecastapi=0&pipable=1&enablepostapi=1&postid=drive-viewer-video-player-object-0&origin=https%3A%2F%2Fdrive.google.com" allowfullscreen></iframe>
					  </div>
				</div>
			
			</section>

			<section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Freelance</span>
							<h2 class="colorlib-heading">QUELQUES-UNS DE MES PROJETS EN FREELANCE</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="https://odelices-paris.com/" class="blog-img"><img src="https://odelices-paris.com/wp-content/uploads/2022/04/Tacos_Moment-removebg-preview-1-150x127.png" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span> <small> Juillet, 2020 |  Dévéloppement Web   | </small> </span>
									<h3><a href="https://odelices-paris.com/">Créer des sites Web Wordpress</a></h3>
									<p>Je crée et conçois des sites web wordpess réactifs pour les clients
exp:  <strong>odelices-paris.com</strong>.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInRight">
							<div class="blog-entry">
								<a href="https://www.behance.net/sdmedik" class="blog-img"><img src="assets/images/logoint.png" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small></small> | <small> Graphic Design </small> | <small> </small></span>
									<h3><a href="blog.html">Logos et Posters Desing </a></h3>
									<p>
                    Je conçois des affiches, des logos et des brochures et je manipule également des images dans mon fichier . exp : j'ai conçu le logo de<strong> tataouine international cup </strong>vous pouvez consulter mon profil behance<a href="https://www.behance.net/sdmedik">ICI</a> </p>
								</div>
							</div>
						</div>
					
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInRight">
							<div class="blog-entry">
								<a href="https://www.facebook.com/UnionSportiveDeTataouine/videos/1113183436202764/" class="blog-img"><img src="assets/images/max.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small> </small> | <small> 
                    Directeur de diffusion en direct </small> | <small> </small></span>
									<h3><a href="blog.html">Vmix 
                    Directeur de diffusion en direct </a></h3>
									<p>

										Je diffuse les matchs via la technologie de streaming dans le championnat professionnel tunisien<strong> sur les plateformes officielles </strong> des équipes
                    <a href="https://www.facebook.com/UnionSportiveDeTataouine/videos/1113183436202764/">ICI</a> </p>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</section>

						<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Entrer en contact
              </span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="mailto:mohamedikbel.sdiri@esprit.tn">mohamedikbel.sdiri@esprit.tn</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p> Paris - France </p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+33 </a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">

                  <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                      <div class="colorlib-icon">
                        <i class="fa fa-facebook"></i>
                      </div>
                      <div class="colorlib-text">
                        <p><a href="https://fb.me/sdiri.medikbel">Facebook</a></p>
                      </div>
                    </div>

                    <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                        <div class="colorlib-icon">
                          <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="colorlib-text">
                          <p><a href="https://www.linkedin.com/in/ikbel-sdiri/">Linkedin</a></p>
                        </div>
                      </div>
                    
                      <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInRight">
                          <div class="colorlib-icon">
                            <i class="fa fa-github"></i>
                          </div>
                          <div class="colorlib-text">
                            <p><a href="https://github.com/mohamedikbel">Github</a></p>
                          </div>
                        </div>
								
							</div>
						</div>
					</div>
				</div>
			</section>



		</div><!-- end:colorlib-main -->
	
	</div><!-- end:container-wrap -->
	
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	
	</body>
</html>

